.image {
    transform: scale(.85);
}

main {
    background-image: url("https://cdn.shopify.com/s/files/1/0010/0994/2575/products/2066-70-lightblue_0e38026d-498a-45d9-8dcb-5f05f37baa9f_2000x.png?v=1576883959");
    background-size: cover;
}

.full {
    width: 100%;
}

.github {
    height: 70px;
    width: auto;
    transform: scale(.9);
}

.linkedin {
    height: 100px;
    width: auto;
    margin-bottom: 5vh;
    transform: scale(1.2);
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}