body {
    font-family: "Source Sans Pro", sans-serif;
    background-image: url("https://orpheumtwinfalls.com/files/2019/12/triangle-mosaic.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

.text-blue {
    color: #425be7;
}

.text-yellow {
    color: #ECA009;
}

.link-color {
    color: #576ef0;
}

a:hover {
    text-decoration: none;
}

li .link-color:hover {
    color: white;
    background-color: #576ef0;
    border-radius: 10px;
    padding: 7px;
    margin: -7px;
    box-shadow: 1px 1px 10px black;
}

li .link-color:active {
    box-shadow: 1px 1px 5px black;
}

.one-pix {
    margin-top: -1px;
    margin-right: -1px;
}

main {
    margin-top: 10vh;
    background: #576ef0;
    transform: skewY(-6deg);
    box-shadow: 2px 2px 10px 1px black;
}

.block {
    padding-top: 10vh;
    transform: skewY(6deg);
}

.space {
    width: 100%;
    height: 70px;
}

.card {
    background-color: #576ef0;
    border: none;
    margin-bottom: 5vh;
}

.repo {
    background-color: #ECA009;
    box-shadow: 2px 2px 10px 1px black;
}

.repo:hover {
    background-color: #bf830a;
}

.box-shadow {
    box-shadow: 2px 2px 10px 1px black;
}

.box-shadow:hover {
    box-shadow: 5px 5px 15px 2px black;
}

.github {
    height: 70px;
    width: auto;
    transform: scale(.9);
}

.github:hover {
    transform: scale(1);
}

.linkedin {
    height: 100px;
    width: auto;
    transform: scale(1.2);
}

.linkedin:hover {
    transform: scale(1.3);
}

.move {
    margin-right: -3px;
}

.about-me {
    line-height: 1.5em;
}

.subtext {
    margin-bottom: -.5px;
}

.headshot {
    box-shadow: 5px 5px 20px -5px black;
}

.form-control {
    background-color: #eca009c9;
    box-shadow: 5px 5px 20px -5px black;
}