.text-blue {
    color: #425be7;
}

.link-color {
    color: #576ef0;
}

a:hover {
    text-decoration: none;
}

.one-pix {
    margin-top: -1px;
}

main {
    margin-top: 10vh;
    background: #576ef0;
    transform: skewY(-6deg);
}

.block {
    padding-top: 10vh;
    transform: skewY(6deg);
}

.space {
    width: 100%;
    height: 70px;
}

.github {
    height: 70px;
    width: auto;
    transform: scale(.9);
}

.linkedin {
    height: 100px;
    width: auto;
    transform: scale(1.2);
}

.move {
    margin-right: -3px;
}